@model SimplestRazor.Pages.Index
@{
    var Module = Model.GetModule<SimplestRazor.Pages.Examples.Bootstrap.Selector>();
}

@{ await Html.RenderPartialAsync("Header");}


<main role="main" class="pb-3">
<form method="post" id="form">
    @Html.AntiForgeryToken()

        @Html.DrawSelector(new Reload.Razor.Helpers.Selector.Parameters { Id="Sel1", ColumnNameId="UserId", ColumnNameText="UserName"})
        @Html.DrawSelector(new Reload.Razor.Helpers.Selector.Parameters { Id="Sel2", ColumnNameId="UserId", ColumnNameText="UserName"})
        @Html.DrawSelector(new Reload.Razor.Helpers.Selector.Parameters { Id="Sel3", ColumnNameId="UserId", ColumnNameText="UserName"})
        @Html.DrawSelector(new Reload.Razor.Helpers.Selector.Parameters { Id="Sel4", ColumnNameId="UserId", ColumnNameText="UserName"})
    </form>
</main>


@{ await Html.RenderPartialAsync("Footer"); }
